<div class="wrapper">

  <!-- Main Header -->
  <app-mainheader></app-mainheader>
  <!-- Left side column. contains the logo and sidebar -->
  <app-mainsidebar></app-mainsidebar>

  <!-- Content Wrapper. Contains page content -->
  <app-contentwrapper></app-contentwrapper>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <app-mainfooter></app-mainfooter>

  <!-- Control Sidebar -->
  <app-controlsidebar></app-controlsidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
